<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>CONDOBASE</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link
    rel="icon"
    type="favicon"
    href="./Images/apple-touch-icon.png"
  />
  <!--     href="https://res.cloudinary.com/dbtsrjssc/image/upload/v1722323695/nathan_with_cat_2_rmugpq.png"
 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css
    "
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap"
      rel="stylesheet"
    />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
 
  <body>
    <main class="body-main">
      <nav class="navbar-bg">
        <div class="container silkscreen-regular">
          <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="/" target="_blank">
                <img
                  src="/images/banner/nathan-image-3.png"
                  alt="nav-logo"
                  width="60"
                  height="55"
                />
              </a>
              <div class="social-links">
              <a href="https://x.com/Condo_Base?t=pDe6ikBbmBG1q4lVTt1Ckw&s=09" target="_blank"> <i class="fa-brands fa-x-twitter"></i
                ></a>
                
                
                <a href="https://t.me/Condo_Official" target="_blank"><i class="fa-brands fa-telegram ms-3"></i></a>
                <a href="https://medium.com/@condobasechain/condo-the-memetoken-investing-in-real-world-assets-33a17b51bac9" target="_blank">  <i class="fa-brands fa-medium ms-3 fa-lg"></i></a> 
                <a href="https://www.geckoterminal.com/base/pools/0xef9bccfba3a62e0a50d288a3031ca18f41f6c000" target="_blank">  <img src="https://res.cloudinary.com/dbtsrjssc/image/upload/v1712927079/geckoterminal_icon_liduyt.png" width="25" alt="" class="ms-3"></a> 

              </div>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                 
                  <li class="nav-item">
                    <a class="nav-link" href="#about">About </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#tokenomics">Tokenomics</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://taskon.xyz/cmuser/Condo/task">Airdrop</a>
                  </li> <li class="nav-item">
                    <a class="nav-link" href="#">Treasury</a>
                  </li>
                </ul>
                <div class="d-flex gap-2 search-btns" role="search">
                  <!-- <button
                    class="btn nav-btns-bg"
                    type="submit"
                    style="color: white"
                  >
                    Connect
                  </button> -->
                  <a href="https://app.uniswap.org/explore/tokens/base/0x30d19fb77c3ee5cfa97f73d72c6a1e509fa06aef" target="_blank">
                  <button
                    class="btn nav-btns-bg"
                    style="color: white"
                   
                  >
                Buy 
                  </button> </a> 
                </div>
                <div class="social-links-mobile">
                 <a href="https://x.com/Condo_Base?t=pDe6ikBbmBG1q4lVTt1Ckw&s=09" target="_blank"> <i class="fa-brands fa-x-twitter fa-xl"></i
                  ></a>
                <a href="https://t.me/Condo_Official" target="_blank">  <i class="fa-brands fa-telegram ms-3 fa-xl"></i></a>
                <a href="https://medium.com/@condobasechain/condo-the-memetoken-investing-in-real-world-assets-33a17b51bac9" target="_blank">  <i class="fa-brands fa-medium ms-3 fa-lg"></i></a> 
                <a href="https://www.geckoterminal.com/base/pools/0xef9bccfba3a62e0a50d288a3031ca18f41f6c000" target="_blank">  <img src="https://res.cloudinary.com/dbtsrjssc/image/upload/v1712927079/geckoterminal_icon_liduyt.png" width="25" alt="" class="ms-3"></a> 

              </div>
              </div>
            </div>
          </nav>
        </div>
      </nav>
      <div class="banner-bg-section">
        <div class="container">
          <div class="banner-main-bg">
            <img
              alt="year-logo"
              width=""
              height=""
              class="year-logo m-auto"
              src="/images/banner/2024.svg"
              style="color: transparent"
            />
            <div class="ondo-owner-div">
              <div class="ondo-condo-banner">
                <img
                  alt="condo"
                  width="120"
                  height="30"
                  class="lmao-img-text"
                  src="/images/banner/bannerminicondo.svg"
                  style="color: transparent"
                />

                <!-- <img
                  id="ondo-main-img"
                  alt="banner-main-gif"
                  width=""
                  height=""
                  class="banner-gif"
                  srcset="
              /images/banner/ONDO-IN-CAR.png;
              /images/banner/ONDO-IN-CAR.png;
            "
                  src="/images/banner/ONDO-IN-CAR.png"
                  style="color: transparent"
                /> -->
                <img
                id="ondo-main-img"
                alt="banner-main-gif"
                width=""
                height=""
                class="banner-gif"
                srcset="
                https://res.cloudinary.com/dbtsrjssc/image/upload/v1712235173/ONDO-IN-CAR_1_zoszrr.png,
                https://res.cloudinary.com/dbtsrjssc/image/upload/v1712235173/ONDO-IN-CAR_1_zoszrr.png;
          "
                src="https://res.cloudinary.com/dbtsrjssc/image/upload/v1712235173/ONDO-IN-CAR_1_zoszrr.png"
                style="color: transparent"
              />
              <!--         srcset="
                https://res.cloudinary.com/dbtsrjssc/image/upload/v1722329672/naffan_in_car_1_cote6w.png,
                https://res.cloudinary.com/dbtsrjssc/image/upload/v1722329672/naffan_in_car_1_cote6w.png;"
                src="https://res.cloudinary.com/dbtsrjssc/image/upload/v1722329672/naffan_in_car_1_cote6w.png"
                style="color: transparent" -->
                <img
                  alt="banner-main-img"
                  width="83"
                  height="29"
                  class="text-banner-img"
                  src="/images/banner/bannerminiondo.svg"
                  style="color: transparent; width: 83px; height: 29px"
                />
              </div>
              <img
                alt="title-img"
                width=""
                height=""
                class="title-logo"
                src="/images/banner/condobannerlogo.svg"
                style="color: transparent"
              />
            </div>
            <!-- <span >
            
              <h6 style="margin-bottom: 0; margin-top: 20px;" class="aclonica-regular ">Price: <span id="price">Loading...</span></h6>
          </span> -->
            <div class="dex_tool">
              <a href="https://dextools.io/app/en/base/pair-explorer/0xef9bccfba3a62e0a50d288a3031ca18f41f6c000?t=1712252416822" target="_blank">    <img src="/images/prepage/DEXTools_ white.png" alt=""></a>
            </div>
            <div class="buy-btn-address" >
              <div class="contract-add silkscreen-regular">
                <span>Contract Address:</span>
                <p id="contractAddress" class="contract-address">
                  0x30D19Fb77C3Ee5cFa97f73D72c6A1E509fa06AEf
                </p>
              </div>
              <div
                class="copy-btn"
                style="cursor: pointer"
                onclick="copyContractAddress(event)"
              >
                <i id="copyIcon" class="fa fa-copy"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-2 sec-2 container" id="about">
        <section class="silkscreen-regular">
          <div class="section-2-main mx-auto">
            <div class="section-2-data">
              <p class="section-2-text">
                <!-- Condo is based on Nathan, the founder of Ondo Finance and inspired by BlackRock's RWA fund BUIDL, Condo is the first memecoin based on Real-World Assets. -->
                Condo is based on Nathan the founder of Ondo Finance. Condo is about to make Nathan, the official ginger mascot of crypto.
                <br />
                Ondo = Condo. As seen on <a target="_blank" href="https://memecoinseason.io/p/condo">memecoinseason.io</a>
              </p>
              <img
                id="moving-cat-gif"
                alt="section-2-gif"
                width="300"
                height="100%"
                class="moving-cat-gif"
                srcset="
                  /images/about/moving-cat.gif,
                  /images/about/moving-cat.gif
                "
                src="/images/about/moving-cat.gif"
                style="color: transparent"
              />
              <img
                id="still-cat-img"
                alt="section-2-gif"
                width="300"
                height="100%"
                class="moving-cat-gif"
                srcset="
                  /images/about/still-cats.png,
                  /images/about/still-cats.png
                "
                src="/images/about/still-cats.png"
                style="color: transparent"
              />
            </div>
            <div class="arrow-section-2-img-section">
              <img
                alt="section-2-arrow"
                width=""
                height=""
                class="arrow-section-2-img"
                src="/images/about/arrow-section-2.svg"
                style="color: transparent"
              />
              <p class="text-section-3">
                <!-- Condo implements a 3% tax on all transactions (buys and sells), collecting funds in ETH. This tax fuels strategic investments in top-tier Real-World Asset (RWA) protocols, generating interest for the Condo treasury. By doing so, we solidify Condo's role as a vital liquidity layer for the Real-World Asset ecosystem. Our goal is to build one of the largest and most robust treasuries in crypto. -->
                Condo features a 3% tax on both buying and selling. We plan to strategically invest a portion of these taxes into top RWA protocol products. This will not only support these projects but also generate interest that will benefit our condo treasury. Our ultimate goal is to establish partnerships with leading RWA projects. By effectively managing our token's growth, we aim to build a multi-million dollar treasury.
              </p>
            </div>

            <div class="twitter-card">
              <!-- <img
                alt="section-2-gif"
                width="180"
                height="100%"
                class="fire-gif"
                srcset="
                /images/banner/nathan-with-cat1.png,
                /images/banner/nathan-with-cat1.png
                "
                src="/images/banner/nathan-with-cat1.png"
                style="color: transparent"
              /> -->
              <img
                alt="section-2-gif"
                width="180"
                height="100%"
                class="fire-gif"
                srcset="
                https://res.cloudinary.com/dbtsrjssc/image/upload/v1712234829/nath_2_tgptj5.png,
                https://res.cloudinary.com/dbtsrjssc/image/upload/v1712234829/nath_2_tgptj5.png
                "
                src="https://res.cloudinary.com/dbtsrjssc/image/upload/v1712234829/nath_2_tgptj5.png"
                style="color: transparent"
              
              />
              <!--   srcset="
                
                https://res.cloudinary.com/dbtsrjssc/image/upload/v1722323695/nathan_with_cat_2_rmugpq.png,
,
                
                https://res.cloudinary.com/dbtsrjssc/image/upload/v1722323695/nathan_with_cat_2_rmugpq.png,

                "
                src="
                https://res.cloudinary.com/dbtsrjssc/image/upload/v1722323695/nathan_with_cat_2_rmugpq.png,
"
                style="color: transparent" -->
                <div class="card-data">
                  <img
                    width="47"
                    height="47"
                    src="https://res.cloudinary.com/dbtsrjssc/image/upload/v1712234831/CAT_2_xagmzk.png"
                    style="color: transparent ; border-radius: 50%; border: 1.5px solid black;"
                  />
                  <!--  src="https://res.cloudinary.com/dbtsrjssc/image/upload/v1722323960/new_ranga_mucgbl.png" -->
                  <div class="inner-txt-twitter-card">
                    <div class="twitter-box">
                      <p class="twitter-box-profile silkscreen-bold">Ranga</p>
                    </div>
                    <p class="twitter-box-username">@ranga_thegingercat</p>
                  </div>
                </div>
              <div class="tweet-twitter-box">
                  <div class="typing-text" data-testid="typing-text">
                    <span class="type-text"></span
                    ><span class="typing-cursor">|</span>
                  </div>
                </div>
              <img
                alt=""
                width="0"
                height="0"
                class="twitter-pixelated"
                src="/images/about/pixelated-x.svg"
                style="color: transparent"
              />
            </div>
          </div>
        </section>
      </div>
      <section class="section-3">
        <div class="container-fluid">
          <div class="section-3-main">
            <!-- <div class="fade-animation m-auto">
              <img
                src="/images/frames/gun-cat.gif"
                class="kitgun-img m-auto"
              />
            </div> -->
            <!-- <div class="m-auto blackrockimg">
              <img src="/images/frames/blackrockhandshake.jpg" alt="">
            </div> -->
            <div class="blackrockimg-bg">
              <div class="container">
                <div class="blackrock-handshake">
              <!-- <img src="https://res.cloudinary.com/dbtsrjssc/image/upload/v1722322699/nathan_and_lary_handshake_icispm.png" alt="collab" class="colab-img"> -->
              <img src="./images/frames/nathan-lary-final.png" alt="collab" class="colab-img">

            </div>
            </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="section-4 silkscreen-regular">
          <div class="container mx-auto sec-4">
          <div class="section-4-flex">
            <div class="coaster-img">
              <img
              src="https://res.cloudinary.com/dbtsrjssc/image/upload/v1712235761/gif-ezgif.com-optimize_ip5tit.gif"
                alt="runnning-gif"
                class="running-main-img"
              />
              <!--src="https://res.cloudinary.com/dbtsrjssc/image/upload/v1722503840/gif-ezgif.com-optimize_t9vtij.gif"-->
            </div>
            <div class="section-4-text">
              <p class="text-p-section-4 silkscreen-regular">
                Our mission is to invest in the future of real-world assets
                (RWAs). <br />
               <p class="text-p-section-4 silkscreen-bold"> Here's how it works:</p>
              </p>
              <ul class="section-4-list">
                <li class="">Transaction Tax: A small fee (3%) is collected on both purchases and sales of the condo memetoken.</li>
                <!-- <li class="">Treasury Investment:
                  Condo is a liquidity layer for the entire RWA ecosystem. We're strategically investing our funds into leading RWA protocol products, such as:
<br>
                  •Tokens<br>
                  •Tbills<br>
                  •Lending pools<br>
                  •Presales <br>
                  
                  In doing so, we're supporting top RWA projects and generating interest for our treasury. Our goal is to grow our treasury to 10s of millions of dollars.
                </li>                 <li class="">
                 Token Utility: While exploring all legal avenues, we don't intend to distribute yield directly as it could potentially classify CONDO as a security. As a utility and governance token, we're actively researching ways to involve holders in decisions. This could include voting and rewards for participation , buy back and burn , deflationary tokenomics, rewards for long-term holders of tokens, opportunities for holders of CONDO to get first choice in RWA projects and more. We're committed to exploring all viable options.
                </li>  -->
                <li class="">Treasury Investment: We strategically invest these funds into leading RWA protocol products like Tbills and lending pools.This will support these RWA projects and generate interest for the condo treasury.</li>
                <li class="">
                  Long-Term Growth: Our goal is to forge partnerships with top RWA projects and build our treasury to reach tens of millions of dollars
                </li>
              
              </ul>
             
            </div>
          </div>
          <img
          src="/images/buy-token/coin.gif"
          alt="coin"
          class="coin-img-bg"
        />
          <img
            src="/images/buy-token/coin.gif"
            alt="coin"
            class="coin-img2-bg"
          />
        </div>
      </div>
      </section>
      <section class="section-5">  
        <div class="bg-how-to-buy mx-auto" data-background="/images/how-to-buy/how-to-buy.png" style="background-image: url(/images/how-to-buy/how-to-buy.png);"></div>
        <div class="container animation-how-to-buy">
          <section class="section-5-main">
            <div class="how-to-buy-btn">
              <div href="" class="how-to-buy-flex">
                <!-- <div class="buy-btn-inner">
                  <p class="silkscreen-bold buybtn-text">Buy $CONDO</p>
                </div> -->
                <div class="buy-btn-address">
                  <div class="contract-add silkscreen-regular pt-4">
                    <span>Contract Address:</span>
                      <p id="contractAddress" class="contract-address">0x30D19Fb77C3Ee5cFa97f73D72c6A1E509fa06AEf</p>
                  </div>
                  <div class="copy-btn" style="cursor: pointer;" onclick="copyContractAddress(event)">
                    <i id="copyIcon2" class="fa fa-copy"></i>
                  </div>                
                </div>
              </div>
            </div>
          </section>
          
          <img
          src="./Images/how-to-buy/how-to-buy-walking-cat.gif"  
            alt="how-to-buy"
            class="laser-eyes-gif"
          />
         <!--           src="https://res.cloudinary.com/dbtsrjssc/image/upload/v1722519642/james-selvog-walkyfinal2b-ezgif.com-optimize_1_sgvnmm.gif"-->

          <div
            class="how-to-buy-frames"
            style="
              translate: none;
              rotate: none;
              scale: none;
            "
          >
            <!-- <p href="" class="img-1-how">
              <img src="/images/how-to-buy/frame-1.png" alt="frame"
            /></p>
            <p href="" class="img-2-how">
              <img src="/images/how-to-buy/frame-2.png" alt="frame" />
            </p>
            <div class="img-3-how-div">
            <p href="" class="img-3-how"
              ><img src="/images/how-to-buy/how-to-buy-frame-3.png" alt="frame" />
              <div class="text-link silkscreen-regular">
                <a href="https://www.bungee.exchange/" target="_blank">bungee</a>
              </div><div class="text-link-lifi silkscreen-regular">
                <a href="https://jumper.exchange/?utm_campaign=link3&utm_medium=link3&utm_source=link3" target="_blank">lifi</a>
              </div>
            </p
            ></div>
            <p href="" class="img-4-how"
              ><img src="/images/how-to-buy/frame-4.png" alt="frame"
            /></p> -->
            <div class="img-1-how-div">
            <p href="" class="img-1-how">
              <img src="https://res.cloudinary.com/dbtsrjssc/image/upload/v1712571186/Group_27_2_axcnek.png" alt="frame"
            />
            <div class="app-link-apple silkscreen-regular">
              <a href="https://apps.apple.com/gb/app/strikex-defi-crypto-wallet/id6443517613" target="_blank">appstore</a>
            </div><div class="app-link-android silkscreen-regular">
              <a href="https://play.google.com/store/apps/details?id=com.tradestrike" target="_blank">playstore</a>
            </div>
          </p></div>
            <p href="" class="img-2-how">
              <img src="https://res.cloudinary.com/dbtsrjssc/image/upload/v1712571180/Group_28_2_jbckxd.png" alt="frame" />
            </p>
        
            <p href="" class="img-3-how"
              ><img src="https://res.cloudinary.com/dbtsrjssc/image/upload/v1712573722/Group_313_1_zgneb9.png" alt="frame" />
             
          </p>
         
            <p href="" class="img-4-how"
              ><img src="https://res.cloudinary.com/dbtsrjssc/image/upload/v1712571137/Group_30_3_rfktl9.png" alt="frame"
            /></p>
          </div>
        </div>
        <!-- <div class="buy-on-platforms silkscreen-regular container">
        
          <div class="cta-btn-buys">
            <a href="https://www.bungee.exchange/" target="_blank" class="silkscreen-bold buybtn-text">
            <div class="buy-btn-inner buy-btn-tokenomics">
           Buy on bungee
            </div></a>
            <a href="https://jumper.exchange/?utm_campaign=link3&utm_medium=link3&utm_source=link3" target="_blank" class="silkscreen-bold buybtn-text">
            <div class="buy-btn-inner buy-btn-tokenomics">
             Buy on Lifi
            </div>
          </a>
            <a href="https://app.uniswap.org/explore/tokens/base/0x30d19fb77c3ee5cfa97f73d72c6a1e509fa06aef" target="_blank" class="silkscreen-bold buybtn-text">
            <div class="buy-btn-inner buy-btn-tokenomics ">
             Buy on Uniswap
            </div>
          </a>
            <a href="https://dextools.io/app/en/base/pair-explorer/0xef9bccfba3a62e0a50d288a3031ca18f41f6c000?t=1712252416822" target="_blank" class="silkscreen-bold buybtn-text">
            <div class="buy-btn-inner buy-btn-tokenomics ">
             Chart
            </div></a>
          </div>
          </div> -->
<div id="dexscreener-embed"><iframe src="https://dexscreener.com/base/0xeF9bCCfBa3A62e0A50d288A3031cA18f41f6c000?embed=1&theme=dark"></iframe></div>

      </section>
    
      <section>
        <div id="tokenomics" class="container">
          <div class="tokenomics-flex container mx-auto">
            <div class="left-tokenomics">
              <img
                alt="tokenomics"
                width="0"
                height="0"
                class="tokenomics-banner-img"
                src="/images/tokenomics/tokenomics-banner.svg"
                style="color: transparent"
              />
              <img
                alt="tokenomics-mobile"
                width="0"
                height="0"
                class="tokenomics-banner-img-mobile"
                src="/images/tokenomics/tokenomics-mobile-blue.svg"
                style="color: transparent"
              />
              <img
              src="./Images/tokenomics/cat-gif-tokeno.gif"
                alt="cry-cat"
                class="cry-cat-gif"
              />
              <!--src="https://res.cloudinary.com/dbtsrjssc/image/upload/v1722345964/cat-looking-front-back-gif-ezgif.com-optimize_mhszb6.gif"-->
            </div>
            <div class="tokenomics-right silkscreen-regular">
              <div class="tokenomics-first-row">
                <div class="card-tokenomics">
                  <p class="card-toke-text-title silkscreen-bold">
                    Total Supply
                  </p>
                  <p class="">10,000,000,000(10B) $CONDO</p>
                  <div class="dots-tokenomics"></div>
                  <div class="dots-tokenomics-2"></div>
                  <div class="dots-tokenomics-3"></div>
                  <div class="dots-tokenomics-4"></div>
                </div>
                <div class="card-tokenomics">
                  <p class="card-toke-text-title silkscreen-bold">Max Supply</p>
                  <p class="">10,000,000,000(10B) $CONDO</p>
                  <div class="dots-tokenomics"></div>
                  <div class="dots-tokenomics-2"></div>
                  <div class="dots-tokenomics-3"></div>
                  <div class="dots-tokenomics-4"></div>
                </div>
                <div class="card-tokenomics">
                  <p class="card-toke-text-title silkscreen-bold">
                    Circulating Supply
                  </p>
                  <p class="">10,000,000,000(10B) $CONDO</p>
                  <div class="dots-tokenomics"></div>
                  <div class="dots-tokenomics-2"></div>
                  <div class="dots-tokenomics-3"></div>
                  <div class="dots-tokenomics-4"></div>
                </div>
              </div>
              <div class="card-tokenomics-full-width">
                <p class="silkscreen-bold card-toke-text-title">Distribution</p>
                <div class="tokenomics-list-distribution">
                  <ul class="ul-distribution-list">
                    <li class="">40% Liquidity Pool</li>
                    <li class="">50% Presale</li>
                    <li class="">5% Airdrop</li>
                    <li class="">5% Future CEX Listing / Marketing </li>
                  </ul>
                  <img
                    src="/images/tokenomics/tea.svg"
                    alt="tokenomics-tea"
                    class="tea-img-tokenomics"
                  />
                </div>
                <div class="dots-tokenomics"></div>
                <div class="dots-tokenomics-2"></div>
                <div class="dots-tokenomics-3"></div>
                <div class="dots-tokenomics-4"></div>
              </div>
              <div class="card-tokenomics-full-width">
                <p class="silkscreen-bold card-toke-text-title">
                  $CONDO Information
                </p>
                <div class="tokenomics-list-distribution">
                  <ul class="ul-distribution-list">
                    <!-- <li class="">
                      <div class="d-md-flex items-center gap-2">
                        <p class="">Contract Address:</p>
                        <div class="flex items-center gap-1">
                          <p id="contractAddress" class="contract-address">0xB0C2dsssco0xB0C2dssscoshcosiwehfcdncldscdDc6ashcosiwehfcdncldscdDc6a</p>
                        </div>
                        <div class="copy-btn" onclick="copyContractAddress(event)" style="cursor: pointer;">
                          <i id="copyIcon" class="fa fa-copy" ></i>
                      </div>
                      </div>
                    </li> -->
                    <li class="">
                      <div class="">
                        <p class="">Tax - 3% buy / 3% sell</p>
                      </div>
                    </li>
                    <li class="">
                      <div class="">
                        <p class="">No team allocation.</p>
                      </div>
                    </li>
                    <li class="">
                      <div class="">
                        <p class="">
                          Initial LP token burnt; Token contract renounced.
                        </p>
                      </div>
                    </li>
                    <li class="">
                      <div class="">
                        <p class="">ONDO = CONDO</p>
                      </div>
                    </li>
                  </ul>
                  <img
                    src="/images/tokenomics/fan.svg"
                    alt="tokenomics-fan"
                    class="tokenomics-fan-img"
                  />
                </div>
                <div class="dots-tokenomics"></div>
                <div class="dots-tokenomics-2"></div>
                <div class="dots-tokenomics-3"></div>
                <div class="dots-tokenomics-4"></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer>
        <hr style="color: #76c7fe; height: 3px; background-color: #76c7fe" />
         <div class="footer-desc silkscreen-regular">
        <p>Nathan or ONDO Finance or Blackrock is not associated with $CONDO or its creation. This token is paying homage to a meme we all love and recognize. <br>$CONDO is a meme coin with no intrinsic value or utility.</p>

      </div>
        <!-- <div class="footer-flex container">
          <p>CZ is not associated with $CONDO or its creation. This token is paying homage to a meme we all love and recognize. <br>$CONDO is a meme coin with no intrinsic value or utility.</p>
        </div> -->
        <div class="footer-flex container">
          <div class="logo-footer" style="cursor: pointer">

            <a href="http://condobase.xyz/"  target="_blank">
            <img
              src="/images/banner/nathan-image-2.png"
              alt="logo-img"
              width="70"
              height="70"
            /></a>
          </div>
          <div class="footer-center-section silkscreen-regular">
           
            <div class="social-links-footer" style="cursor: pointer">
           <a href="https://x.com/Condo_Base?t=pDe6ikBbmBG1q4lVTt1Ckw&s=09" target="_blank">  <i class="fa-brands fa-x-twitter fa-lg"></i
              ></a> 
           <a href="https://t.me/Condo_Official" target="_blank">  <i class="fa-brands fa-telegram ms-3 fa-lg"></i></a> 
           <a href="https://medium.com/@condobasechain/condo-the-memetoken-investing-in-real-world-assets-33a17b51bac9" target="_blank">  <i class="fa-brands fa-medium ms-3 fa-lg"></i></a> 
           <a href="https://www.geckoterminal.com/base/pools/0xef9bccfba3a62e0a50d288a3031ca18f41f6c000" target="_blank">  <img src="https://res.cloudinary.com/dbtsrjssc/image/upload/v1712927079/geckoterminal_icon_liduyt.png" width="25" alt="" class="ms-3"></a> 

          </div>
            
          </div>
          
          <div
            class="search-btns silkscreen-regular"
            role="search"
            style="cursor: pointer"
          >  <a href="https://app.uniswap.org/explore/tokens/base/0x30d19fb77c3ee5cfa97f73d72c6a1e509fa06aef
          " target="_blank">
            <button class="btn nav-btns-bg" style="color: white">
           Buy
            </button></a> 
          </div>
        </div>
        <div class="copyright-footer silkscreen-regular"> <div class="contact-mail silkscreen-regular">

     
         <i class="fa fa-envelope"></i> CondoBaseChain@gmail.com    </div>
          <i class="fa fa-copyright"></i> All Rights Reserved CONDO 2024
         </div>
        
      </footer>
    </main>
    <div class="audio-btns">
      <audio id="background-music" preload="auto" loop autoplay>
        <source src="/images/audio/Bumbershoot.mp3" type="audio/mpeg" />
        Your browser does not support the audio element.
      </audio>
      <!-- <iframe src="/images/audio/Bumbershoot.mp3" allow="autoplay" frameborder="0"></iframe> -->
      <button id="toggle-music-btn">
        <img src="/images/music-btn.svg" alt="Music button" />
        <!-- <img src="/images/mute-btn.svg" alt="Music button" /> -->

      </button>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
    <script>
      
      const carMoving = document.getElementById("ondo-main-img");
      let lastScrollPosition = window.pageYOffset;
      window.addEventListener("scroll", () => {
        const currentScrollPosition = window.pageYOffset;
        const scrollDistance =
          (currentScrollPosition - lastScrollPosition) * 0.02;
        let targetPosition = "50%";
        if (scrollDistance > 0) {
          targetPosition = "0";
        }
        carMoving.style.left = targetPosition;
        lastScrollPosition = currentScrollPosition;
      });

      const musicButton = document.getElementById("toggle-music-btn");
      const musicPlayer = document.getElementById("background-music");
      const movingCat = document.getElementById("moving-cat-gif");
      const stillCat = document.getElementById("still-cat-img");
      musicPlayer.play();
      movingCat.style.display = "block";
      stillCat.style.display = "none";

      musicButton.innerHTML =
        '<img src="/images/music-btn.svg" alt="Music button" />';
      musicButton.addEventListener("click", function () {
        if (musicPlayer.paused) {
          musicPlayer.play();
          musicButton.innerHTML =
            '<img src="/images/music-btn.svg" alt="Music button" />';
          movingCat.style.display = "block";
          stillCat.style.display = "none";
        } else {
          musicPlayer.pause();
          musicButton.innerHTML =
            '<img src="/images/mute-btn.svg" alt="Pause music button" />';
          movingCat.style.display = "none";
          stillCat.style.display = "block";
        }
      });

      const text =
      "Condo is here to break the mold! We're not just another memecoin, we're the first real-world asset (RWA) memetoken with a mission to empower the future of finance."
        // "Condo the first memecoin based on real-world assets investing in real-world assets.|";
      const textSpan = document.querySelector(".type-text");

      let index = 0;

      function type() {
        if (index < text.length) {
          textSpan.textContent += text.charAt(index);
          index++;
          setTimeout(type, 200);
        }
      }
      type();
      function copyContractAddress(event) {
    event.preventDefault();
    const contractAddressElement = document.getElementById('contractAddress');
    const tempInput = document.createElement('input');
    tempInput.value = contractAddressElement.innerText;
    document.body.appendChild(tempInput);
    
    tempInput.select();
    tempInput.setSelectionRange(0, 99999); 

    document.execCommand('copy');
        document.body.removeChild(tempInput);
const copyIc = document.getElementById('copyIcon2')
    const copyIcon = document.getElementById('copyIcon');
    copyIcon.classList.remove('fa-copy');
    copyIcon.classList.add('fa-check');
    copyIc.classList.remove('fa-copy');
    copyIc.classList.add('fa-check');
    setTimeout(() => {
        copyIcon.classList.remove('fa-check');
        copyIcon.classList.add('fa-copy');   copyIc.classList.remove('fa-check');
        copyIc.classList.add('fa-copy');
    }, 2000); 
}

    </script>
  </body>
</html>
